label {
  display: block;
}
.accounts {
  &--top {
    display: flex;
    gap: 40px;
    align-items: baseline;
  }
  &--title {
    display: flex;
    gap: 20px;
    h2 {
      border: solid 1px;
      padding: 0 20px;
      height: 55px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        border: solid 2px #7d7d7d;
        color: #7d7d7d;
      }
    }
  }
  &--input {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
    .description {
      width: 350px;
    }
    .inputs {
      display: flex;
      gap: 20px;
    }
    .buttons {
      display: flex;
      gap: 20px;
      justify-content: right;
    }
  }
}
