<div class="login">
  <div class="login--container">
    <div class="login--actions">
      <div class="button google"
           (click)="login(loginType.google)">
        <label>GOOGLE</label>
      </div>
      <div class="button facebook"
           (click)="login(loginType.facebook)">
        <label>FACEBOOK</label>
      </div>
      <div class="button tiktok"
           (click)="login(loginType.tiktok)">
        <label>TIK TOK</label>
      </div>
      <div class="button twitter"
           (click)="login(loginType.twitter)">
        <label>TWITTER</label>
      </div>
    </div>
  </div>
</div>