@import "./../../styles";
.login {
  &--container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--actions {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  &--fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
  
  }

}
.facebook {
  background-color: $facebook-color;
  &:hover {
    background-color: $facebook-color-light;
  }
  &:active {
    background-color: $facebook-color-dark;
  }
}
.tiktok {
  background-color: $tiktok-color;
  &:hover {
    background-color: $tiktok-color-light;
  }
  &:active {
    background-color: $tiktok-color-dark;
  }
}
.twitter {
  background-color: $twitter-color;
  &:hover {
    background-color: $twitter-color-light;
  }
  &:active {
    background-color: $twitter-color-dark;
  }
}
.google {
  background-color: $youtube-color;
  &:hover {
    background-color: $youtube-color-light;
  }
  &:active {
    background-color: $youtube-color-dark;
  }
}
